    <h1>Movies</h1>
    <table>
      <tr>Title</tr>
      <tr>Release</tr>

      <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.release_date %></td>
      </tr>
      <% end %>
    </table>
